
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Đăng Nhập</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- login -->
<div class="login">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Login Form</h3>
        <p class="est animated wow zoomIn" data-wow-delay=".5s">
            @ViewData["LoiDangNhap"];         
        </p>
        <div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true);

                @Html.TextBox("TenDN", "", new { placeholder = "Tên Tài Khoản" })


                @Html.Password("Matkhau", "", new { placeholder = "Mật Khẩu" })

                <div class="forgot">
                    <a href="#">Forgot Password?</a>
                </div>
                <input type="submit" value="Login">
            }
        </div>
        <h4 class="animated wow slideInUp" data-wow-delay=".5s">For New People</h4>
        <p class="animated wow slideInUp" data-wow-delay=".5s"><a href="@Url.Action("Dangky", "Nguoidung")">Register Here</a> (Or) go back to <a href="@Url.Action("Index", "Home")">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
    </div>
</div>
<!-- //login -->
